# Apriori

## Importing the libraries

In [1]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=45dced402a75aefc329faac18284314e1377c41e176d247899cce98a3c81915c
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Data Preprocessing

In [4]:
dataset = pd.read_csv('New1.csv', header = None)
transactions = []
for i in range(0, 60):
  transactions.append([str(dataset.values[i, j]) for j in range(0, 9)])

In [5]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_lenght = 2, max_length = 2)

In [6]:
results = list(rules)
results

[RelationRecord(items=frozenset({'French', 'Economics'}), support=0.03333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Economics'}), items_add=frozenset({'French'}), confidence=0.22222222222222224, lift=4.444444444444445), OrderedStatistic(items_base=frozenset({'French'}), items_add=frozenset({'Economics'}), confidence=0.6666666666666666, lift=4.444444444444445)]),
 RelationRecord(items=frozenset({'Geography', 'Economics'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Economics'}), items_add=frozenset({'Geography'}), confidence=0.6666666666666667, lift=3.076923076923077), OrderedStatistic(items_base=frozenset({'Geography'}), items_add=frozenset({'Economics'}), confidence=0.46153846153846156, lift=3.076923076923077)]),
 RelationRecord(items=frozenset({'Economics', 'Political Science'}), support=0.08333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Economics'}), items_add=frozenset({'Political Science'}), confidence=0.5555555555555556, lift=4.761904761904762), OrderedStatistic(items_base=frozenset({'Political Science'}), items_add=frozenset({'Economics'}), confidence=0.7142857142857142, lift=4.761904761904762)]),
 RelationRecord(items=frozenset({'Geography', 'French'}), support=0.03333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'French'}), items_add=frozenset({'Geography'}), confidence=0.6666666666666666, lift=3.0769230769230766)]),
 RelationRecord(items=frozenset({'Geography', 'Political Science'}), support=0.08333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Geography'}), items_add=frozenset({'Political Science'}), confidence=0.3846153846153846, lift=3.2967032967032965), OrderedStatistic(items_base=frozenset({'Political Science'}), items_add=frozenset({'Geography'}), confidence=0.7142857142857142, lift=3.296703296703296)]),
 RelationRecord(items=frozenset({'Marathi', 'Hindi'}), support=0.06666666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Hindi'}), items_add=frozenset({'Marathi'}), confidence=0.5714285714285714, lift=3.116883116883117), OrderedStatistic(items_base=frozenset({'Marathi'}), items_add=frozenset({'Hindi'}), confidence=0.36363636363636365, lift=3.116883116883117)])]

In [7]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [8]:
resultsinDataFrame

  Left Hand Side    Right Hand Side   Support  Confidence      Lift
0      Economics             French  0.033333    0.222222  4.444444
1      Economics          Geography  0.100000    0.666667  3.076923
2      Economics  Political Science  0.083333    0.555556  4.761905
3         French          Geography  0.033333    0.666667  3.076923
4      Geography  Political Science  0.083333    0.384615  3.296703
5          Hindi            Marathi  0.066667    0.571429  3.116883

In [9]:
resultsinDataFrame.nlargest(n = 10, columns = 'Lift')

  Left Hand Side    Right Hand Side   Support  Confidence      Lift
2      Economics  Political Science  0.083333    0.555556  4.761905
0      Economics             French  0.033333    0.222222  4.444444
4      Geography  Political Science  0.083333    0.384615  3.296703
5          Hindi            Marathi  0.066667    0.571429  3.116883
1      Economics          Geography  0.100000    0.666667  3.076923
3         French          Geography  0.033333    0.666667  3.076923

In [10]:
resultsinDataFrame.nlargest(n = 10, columns = 'Support')

  Left Hand Side    Right Hand Side   Support  Confidence      Lift
1      Economics          Geography  0.100000    0.666667  3.076923
2      Economics  Political Science  0.083333    0.555556  4.761905
4      Geography  Political Science  0.083333    0.384615  3.296703
5          Hindi            Marathi  0.066667    0.571429  3.116883
0      Economics             French  0.033333    0.222222  4.444444
3         French          Geography  0.033333    0.666667  3.076923

In [11]:
resultsinDataFrame.nlargest(n = 10, columns = 'Confidence')

  Left Hand Side    Right Hand Side   Support  Confidence      Lift
1      Economics          Geography  0.100000    0.666667  3.076923
3         French          Geography  0.033333    0.666667  3.076923
5          Hindi            Marathi  0.066667    0.571429  3.116883
2      Economics  Political Science  0.083333    0.555556  4.761905
4      Geography  Political Science  0.083333    0.384615  3.296703
0      Economics             French  0.033333    0.222222  4.444444